@media only screen and (max-width: 768px) {

  body {
    font-size: 15px;
    overflow-x: hidden;
    padding-top: 3rem;
  }

  .mobile-nav-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: #d48c94;
    position: absolute;
    left: 1rem;
    top: 1.2rem;
    z-index: 60;
  }

  #mobileMenu {
   display: none;
   flex-direction: column;
   position: fixed;
   top: 0; /* pastikan menu turun selepas header */
   left: 0;
   right: 0;
   background-color: white;
   box-shadow: 0 8px 20px rgba(1, 2, 2, 0.10);
   z-index: 999;
   padding: 1.2rem;
   text-align: center;
    animation: slideDown 0.2s ease forwards;
  }

  #mobileMenu a {
    padding: 0.8rem 0;
    font-size: 1rem;
    color: #333;
    border-bottom: 1px solid #eee;
    display: block;
  }


  #mobileMenu.hidden {
  display: none !important;
}


  nav.md\:flex {
    display: none !important;
  }

  .logo-center {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    margin: 0 auto;
  }

  .icons {
    flex-wrap: wrap;
    gap: 20px;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .form-section h2 {
    font-size: 1.6rem;
  }

  .form-section input,
  .form-section textarea {
    font-size: 1rem;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
