body {
      font-family: 'Poppins', sans-serif;
    }
    h1, h2, h3 {
      font-family: 'Playfair Display', serif;
    }
    .fancy-font {
      font-family: 'Parisienne', cursive;
    }

@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-x {
  display: flex;
  width: max-content;
  animation: scrollX 40s linear infinite;
}
